In [11]:
import numpy as np
import pandas as pd
import matplotlib as plt 

yo15_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2015CLEANED.csv")
yo15_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458

In [13]:
yo16_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2016CLEANED.csv")
yo16_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,7.413,1.406,1.135,0.811,0.571,0.410,0.255

In [15]:
yo17_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2017CLEANED.csv")
yo17_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,Western Europe,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,Western Europe,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,Western Europe,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,Western Europe,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,Western Europe,7.469,1.444,1.540,0.809,0.618,0.245,0.383

In [19]:
yo18_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2018CLEANED.csv")
yo18_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [21]:
yo19_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2019CLEANED.csv")
yo19_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [21]:
yo15_df = yo15_df.drop_duplicates()
yo15_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                158 non-null    object
 1   Region                 158 non-null    object
 2   Happiness Score        158 non-null    float64
 3   GDP per Capita         158 non-null    float64
 4   Social support         158 non-null    float64
 5   Life Expectancy        158 non-null    float64
 6   Freedom                158 non-null    float64
 7   Government Corruption  158 non-null    float64
 8   Generosity             158 non-null    float64
dtypes: float64(7), object(2)
memory usage: 11.2+ KB

In [23]:
yo16_df = yo16_df.drop_duplicates()
yo16_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                157 non-null    object
 1   Region                 157 non-null    object
 2   Happiness Score        157 non-null    float64
 3   GDP per Capita         157 non-null    float64
 4   Social support         157 non-null    float64
 5   Life Expectancy        157 non-null    float64
 6   Freedom                157 non-null    float64
 7   Government Corruption  157 non-null    float64
 8   Generosity             157 non-null    float64
dtypes: float64(7), object(2)
memory usage: 11.2+ KB

In [25]:
yo17_df = yo17_df.drop_duplicates()
yo17_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                155 non-null    object
 1   Happiness Score        155 non-null    float64
 2   GDP per Capita         155 non-null    float64
 3   Social support         155 non-null    float64
 4   Life Expectancy        155 non-null    float64
 5   Freedom                155 non-null    float64
 6   Generosity             155 non-null    float64
 7   Government Corruption  155 non-null    float64
dtypes: float64(7), object(1)
memory usage: 9.8+ KB

In [27]:
yo18_df = yo18_df.drop_duplicates()
yo18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                156 non-null    object
 1   Happiness Score        156 non-null    float64
 2   GDP per capita         156 non-null    float64
 3   Social support         156 non-null    float64
 4   Life Expectancy        156 non-null    float64
 5   Freedom                156 non-null    float64
 6   Generosity             156 non-null    float64
 7   Government Corruption  155 non-null    float64
dtypes: float64(7), object(1)
memory usage: 9.9+ KB

In [29]:
yo19_df = yo19_df.drop_duplicates()
yo19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                156 non-null    object
 1   Happiness Score        156 non-null    float64
 2   GDP per capita         156 non-null    float64
 3   Social support         156 non-null    float64
 4   Life Expectancy        156 non-null    float64
 5   Freedom                156 non-null    float64
 6   Generosity             156 non-null    float64
 7   Government Corruption  156 non-null    float64
dtypes: float64(7), object(1)
memory usage: 9.9+ KB

In [31]:
tmp_yo15_df = yo15_df.drop(['Happiness Score', 'GDP per Capita', 'Social support','Life Expectancy','Freedom','Government Corruption','Generosity' ], axis=1)
tmp_yo15_df

         Country                           Region
0    Switzerland                   Western Europe
1        Iceland                   Western Europe
2        Denmark                   Western Europe
3         Norway                   Western Europe
4         Canada                    North America
..           ...                              ...
153       Rwanda               Sub-Saharan Africa
154        Benin               Sub-Saharan Africa
155        Syria  Middle East and Northern Africa
156      Burundi               Sub-Saharan Africa
157         Togo               Sub-Saharan Africa

[158 rows x 2 columns]

In [33]:
yo17_df = yo17_df.merge(
  tmp_yo15_df,
  left_on=['Country'],
  right_on=['Country']
)

yo17_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                149 non-null    object
 1   Happiness Score        149 non-null    float64
 2   GDP per Capita         149 non-null    float64
 3   Social support         149 non-null    float64
 4   Life Expectancy        149 non-null    float64
 5   Freedom                149 non-null    float64
 6   Generosity             149 non-null    float64
 7   Government Corruption  149 non-null    float64
 8   Region                 149 non-null    object
dtypes: float64(7), object(2)
memory usage: 10.6+ KB

In [35]:
yo17_df
yo17_df = yo17_df[['Country','Region','Happiness Score','GDP per capita','Social support','Life Expectancy','Freedom','Generosity','Government Corruption']]
yo17_df

,Country,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption,Region
0,Norway,7.537,1.616,1.534,0.797,0.635,0.362,0.316,Western Europe
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401,Western Europe
2,Iceland,7.504,1.481,1.611,0.834,0.627,0.476,0.154,Western Europe
3,Switzerland,7.494,1.565,1.517,0.858,0.620,0.291,0.367,Western Europe
4,Finland,7.469,1.444,1.540,0.809,0.618,0.245,0.383,Western Europe
...,...,...,...,...,...,...,...,...,...
144,Rwanda,3.471,0.369,0.946,0.326,0.582,0.253,0.455,Sub-Saharan Africa
145,Syria,3.462,0.777,0.396,0.501,0.082,0.494,0.151,Middle East and Northern Africa
146,Tanzania,3.349,0.511,1.042,0.365,0.390,0.354,0.066,Sub-Saharan Africa
147,Burundi,2.905,0.092,0.630,0.152,0.060,0.204,0.084,Sub-Saharan Africa
148,Central African Republic,2.693,0.000,0.000,0.019,0.271,0.281,0.057,Sub-Saharan Africa

In [37]:
yo18_df = yo18_df.merge(
  tmp_yo15_df,
  left_on=['Country'],
  right_on=['Country']
)

yo18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                150 non-null    object
 1   Happiness Score        150 non-null    float64
 2   GDP per capita         150 non-null    float64
 3   Social support         150 non-null    float64
 4   Life Expectancy        150 non-null    float64
 5   Freedom                150 non-null    float64
 6   Generosity             150 non-null    float64
 7   Government Corruption  149 non-null    float64
 8   Region                 150 non-null    object
dtypes: float64(7), object(2)
memory usage: 10.7+ KB

In [39]:
yo18_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption,Region
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe
...,...,...,...,...,...,...,...,...,...
145,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444,Sub-Saharan Africa
146,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,Middle East and Northern Africa
147,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,Sub-Saharan Africa
148,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,Sub-Saharan Africa
149,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,Sub-Saharan Africa

In [41]:
yo19_df = yo19_df.merge(
  tmp_yo15_df,
  left_on=['Country'],
  right_on=['Country']
)

yo19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                149 non-null    object
 1   Happiness Score        149 non-null    float64
 2   GDP per capita         149 non-null    float64
 3   Social support         149 non-null    float64
 4   Life Expectancy        149 non-null    float64
 5   Freedom                149 non-null    float64
 6   Generosity             149 non-null    float64
 7   Government Corruption  149 non-null    float64
 8   Region                 149 non-null    object
dtypes: float64(7), object(2)
memory usage: 10.6+ KB

In [43]:
yo19_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption,Region
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Western Europe
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Western Europe
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Western Europe
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Western Europe
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Western Europe
...,...,...,...,...,...,...,...,...,...
144,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,Middle East and Northern Africa
145,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,Sub-Saharan Africa
146,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,Sub-Saharan Africa
147,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,Southern Asia
148,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,Sub-Saharan Africa

In [47]:
yo19_df = yo19_df[['Country','Region','Happiness Score','GDP per capita','Social support','Life Expectancy','Freedom','Generosity','Government Corruption']]

In [49]:
yo19_df

,Country,Region,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
144,Yemen,Middle East and Northern Africa,3.380,0.287,1.163,0.463,0.143,0.108,0.077
145,Rwanda,Sub-Saharan Africa,3.334,0.359,0.711,0.614,0.555,0.217,0.411
146,Tanzania,Sub-Saharan Africa,3.231,0.476,0.885,0.499,0.417,0.276,0.147
147,Afghanistan,Southern Asia,3.203,0.350,0.517,0.361,0.000,0.158,0.025
148,Central African Republic,Sub-Saharan Africa,3.083,0.026,0.000,0.105,0.225,0.235,0.035

In [53]:

yo17_df

,Country,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption,Region
0,Norway,7.537,1.616,1.534,0.797,0.635,0.362,0.316,Western Europe
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401,Western Europe
2,Iceland,7.504,1.481,1.611,0.834,0.627,0.476,0.154,Western Europe
3,Switzerland,7.494,1.565,1.517,0.858,0.620,0.291,0.367,Western Europe
4,Finland,7.469,1.444,1.540,0.809,0.618,0.245,0.383,Western Europe
...,...,...,...,...,...,...,...,...,...
144,Rwanda,3.471,0.369,0.946,0.326,0.582,0.253,0.455,Sub-Saharan Africa
145,Syria,3.462,0.777,0.396,0.501,0.082,0.494,0.151,Middle East and Northern Africa
146,Tanzania,3.349,0.511,1.042,0.365,0.390,0.354,0.066,Sub-Saharan Africa
147,Burundi,2.905,0.092,0.630,0.152,0.060,0.204,0.084,Sub-Saharan Africa
148,Central African Republic,2.693,0.000,0.000,0.019,0.271,0.281,0.057,Sub-Saharan Africa

In [55]:
yo17_df = yo17_df[['Country','Region','Happiness Score','GDP per Capita','Social support','Life Expectancy','Freedom','Generosity','Government Corruption']]
yo17_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,Western Europe,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,Western Europe,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,Western Europe,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,Western Europe,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,Western Europe,7.469,1.444,1.540,0.809,0.618,0.245,0.383
...,...,...,...,...,...,...,...,...,...
144,Rwanda,Sub-Saharan Africa,3.471,0.369,0.946,0.326,0.582,0.253,0.455
145,Syria,Middle East and Northern Africa,3.462,0.777,0.396,0.501,0.082,0.494,0.151
146,Tanzania,Sub-Saharan Africa,3.349,0.511,1.042,0.365,0.390,0.354,0.066
147,Burundi,Sub-Saharan Africa,2.905,0.092,0.630,0.152,0.060,0.204,0.084
148,Central African Republic,Sub-Saharan Africa,2.693,0.000,0.000,0.019,0.271,0.281,0.057

In [57]:
yo18_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption,Region
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe
...,...,...,...,...,...,...,...,...,...
145,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444,Sub-Saharan Africa
146,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,Middle East and Northern Africa
147,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,Sub-Saharan Africa
148,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,Sub-Saharan Africa
149,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,Sub-Saharan Africa

In [61]:
yo18_df = yo18_df[['Country','Region','Happiness Score','GDP per capita','Social support','Life Expectancy','Freedom','Generosity','Government Corruption']]
yo18_df

,Country,Region,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
145,Rwanda,Sub-Saharan Africa,3.408,0.332,0.896,0.400,0.636,0.200,0.444
146,Yemen,Middle East and Northern Africa,3.355,0.442,1.073,0.343,0.244,0.083,0.064
147,Tanzania,Sub-Saharan Africa,3.303,0.455,0.991,0.381,0.481,0.270,0.097
148,Central African Republic,Sub-Saharan Africa,3.083,0.024,0.000,0.010,0.305,0.218,0.038
149,Burundi,Sub-Saharan Africa,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [63]:
yo18_df.columns = yo18_df.columns.str.replace('GDP per capita', 'GDP per Capita')
yo18_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
145,Rwanda,Sub-Saharan Africa,3.408,0.332,0.896,0.400,0.636,0.200,0.444
146,Yemen,Middle East and Northern Africa,3.355,0.442,1.073,0.343,0.244,0.083,0.064
147,Tanzania,Sub-Saharan Africa,3.303,0.455,0.991,0.381,0.481,0.270,0.097
148,Central African Republic,Sub-Saharan Africa,3.083,0.024,0.000,0.010,0.305,0.218,0.038
149,Burundi,Sub-Saharan Africa,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [65]:
yo19_df.columns = yo19_df.columns.str.replace('GDP per capita', 'GDP per Capita')
yo19_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
144,Yemen,Middle East and Northern Africa,3.380,0.287,1.163,0.463,0.143,0.108,0.077
145,Rwanda,Sub-Saharan Africa,3.334,0.359,0.711,0.614,0.555,0.217,0.411
146,Tanzania,Sub-Saharan Africa,3.231,0.476,0.885,0.499,0.417,0.276,0.147
147,Afghanistan,Southern Asia,3.203,0.350,0.517,0.361,0.000,0.158,0.025
148,Central African Republic,Sub-Saharan Africa,3.083,0.026,0.000,0.105,0.225,0.235,0.035

In [67]:
yo15_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2015CLEANED.csv", index=False)

In [69]:
yo16_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2016CLEANED.csv", index=False)

In [71]:
yo17_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2017CLEANED.csv", index=False)

In [73]:
yo18_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2018CLEANED.csv", index=False)

In [1]:
yo19_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2019CLEANED.csv", index=False)

NameError: name 'yo19_df' is not defined

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.docker',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.virtual_documents',
 '.vscode',
 '3D Objects',
 'additional assignment.ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'Assignment.ipynb',
 'Class 1 Variables and data types 1.ipynb',
 'Class 10 Cleaning first dataset.ipynb',
 'Class 11 Visualization_of_clean_data.ipynb',
 'Class 2 Variables and data types 2.ipynb',
 'Class 3 Files and loops.ipynb',
 'Class 4 Variables, data type and loops.ipynb',
 'Class 5 Conditional statements, List comprehension, Zip .ipynb',
 'Class 6 List comprehension and functions.ipynb',
 'Class 7 functions.ipynb',
 'Class 8 Numpy.ipynb',
 'Class 9 Pandas.ipynb',
 'cnmss Canon MG3600 series Printer WS (Local).dll',
 'Contacts',
 'Cookies',
 'Correction.ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'Emmanuel_28th_Dec_2024.ipynb',
 'Emmanuel_4th_Jan_2025.ipynb',
 'Emmanuel_5th_Jan_2025_DATA_CLEANING.ipynb',
 'Favorites',
 'Homework.ipynb',
 'Homeworkfullycleaned.ipynb',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.0.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.1.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.2.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pandas.ipynb',
 'Pictures',
 'Practise 1.ipynb',
 'Practise 2.ipynb',
 'PrintHood',
 'PycharmProjects',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Updating multiple columns in Pandas.ipynb',
 'Videos']

In [31]:
df_concat = pd.concat([pd.read_csv(f) for f in file_list ], ignore_index=True)
df_concat

FileNotFoundError: [Errno 2] No such file or directory: '2015CLEANED.csv'

In [27]:
import numpy as np
import pandas as pd
import matplotlib as plt 

yo15_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets_cleaned\CLEANED2015.csv")
yo15_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458

In [29]:
yo16_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets_cleaned\CLEANED2016.csv")
yo16_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,7.413,1.406,1.135,0.811,0.571,0.410,0.255

In [31]:
yo17_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets_cleaned\CLEANED2017.csv")
yo17_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,Western Europe,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,Western Europe,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,Western Europe,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,Western Europe,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,Western Europe,7.469,1.444,1.540,0.809,0.618,0.245,0.383

In [33]:
yo18_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets_cleaned\CLEANED2018.csv")
yo18_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [35]:
yo19_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets_cleaned\CLEANED2019.csv")
yo19_df.head()

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [37]:

finaldf = pd.concat([yo15_df, yo16_df, yo17_df, yo18_df, yo19_df], axis=0, ignore_index=True).sort_index()
finaldf

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458
...,...,...,...,...,...,...,...,...,...
758,Yemen,Middle East and Northern Africa,3.380,0.287,1.163,0.463,0.143,0.077,0.108
759,Rwanda,Sub-Saharan Africa,3.334,0.359,0.711,0.614,0.555,0.411,0.217
760,Tanzania,Sub-Saharan Africa,3.231,0.476,0.885,0.499,0.417,0.147,0.276
761,Afghanistan,Southern Asia,3.203,0.350,0.517,0.361,0.000,0.025,0.158
762,Central African Republic,Sub-Saharan Africa,3.083,0.026,0.000,0.105,0.225,0.035,0.235

In [51]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763 entries, 0 to 762
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                763 non-null    object
 1   Region                 763 non-null    object
 2   Happiness Score        763 non-null    float64
 3   GDP per Capita         763 non-null    float64
 4   Social support         763 non-null    float64
 5   Life Expectancy        763 non-null    float64
 6   Freedom                763 non-null    float64
 7   Government Corruption  762 non-null    float64
 8   Generosity             763 non-null    float64
dtypes: float64(7), object(2)
memory usage: 53.8+ KB

In [55]:
finaldf['Country'].value_counts()

Country
Switzerland           5
Dominican Republic    5
Greece                5
Lebanon               5
Hungary               5
                     ..
Belize                1
Somalia               1
Somaliland Region     1
Namibia               1
South Sudan           1
Name: count, Length: 164, dtype: int64

In [73]:
prod_df = finaldf.groupby('Country')['Happiness Score']
prod_df

In [2]:


prod_df.plot(kind= 'bar' , x= 'Country', y='Value', legend=False)
plt.title('distribution of happiness rank in each country')
plt.xlabel('Country')
plt.ylabel('Happiness score')
plt.grid(True)
plt.show()

NameError: name 'prod_df' is not defined